@model ICT_Portal.Models.Student



<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div>
        <h4>Student</h4>
    	<hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.FirstName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FirstName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.LastName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.LastName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.FatherName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.FatherName)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Email)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Email)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.DateOfBirth)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.DateOfBirth)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.CNIC)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.CNIC)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.Gender)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.Gender)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TemporaryAddress)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TemporaryAddress)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.TemporaryCity)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.TemporaryCity)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PermanentAddress)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PermanentAddress)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.PermanentCity)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.PermanentCity)
            </dd>
    
            <dt>
                @Html.DisplayNameFor(model => model.User.UserName)
            </dt>
    
            <dd>
                @Html.DisplayFor(model => model.User.UserName)
            </dd>
    
        </dl>
    </div>
    <p>
        @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
        @Html.ActionLink("Back to List", "Index")
    </p>
</body>
</html>
