@model IEnumerable<ICT_Portal.Models.InstructorCours>

@{
    ViewBag.Title = "Index";
}

<h2>Commitments</h2>

@*<p>
    @Html.ActionLink("Create New", "Create")
</p>*@
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClassRoom)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Room)
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Batch.Name)*@
            <p>Batch</p>
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Course.Title)*@
            <p>Course</p>
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Instructor.FirstName)*@
            <p>Instructor</p>
        </th>
        <th>
            @*@Html.DisplayNameFor(model => model.Section.Name)*@
            <p>Section</p>
        </th>
        <th>
            @Html.DisplayNameFor(model => model.User.UserName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.ClassRoom)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Room)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Batch.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Course.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Instructor.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Section.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.UserName)
        </td>
        <td>
            @Html.ActionLink("Add/Modify Marks", "Create", "Assessment", new { bid = item.BatchID, cid = item.CourseID, sid = item.SectionID }, null) |
            @Html.ActionLink("View Marks", "Index", "Assessment", new { bid = item.BatchID, cid = item.CourseID, sid = item.SectionID }, null) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
